@charset "UTF-8";

header.gallery {
  padding: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    color: black;
    margin-left: auto;
  }
  div {
    margin-left: auto;
    a {
      margin: 0 5px;
      font-weight: 800;
    }
  }
}

nav.gallery {
  background-color: black;
  ul {
    list-style: none;
    display: flex;
    padding: 8px;
    li {
      margin: 3px 8px;
      padding: 0 4px;
      color: white;
      &:hover {
        cursor: pointer;
        color: yellow;
      }
    }
  }
}

a.write_btn {
  padding: 5px 16px;
  margin: 8px;
  font-weight: 800;
  border-radius: 10px;
  background-color: #1b77ce;
  color: white;
}
