<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 너는 저 DAO 랑 칭구야 -->
<mapper namespace="com.callor.iolist.persistance.IolistDao">

	<select id="selectAll">
		SELECT
			io_seq,
			io_date,
			io_time,
		CASE 
       		WHEN io_input = 1 THEN '매입'
       		WHEN io_input = 2 THEN '매출'
       		ELSE '기타'
			END AS io_div,
		
		CASE
			WHEN io_input = 1 THEN io_price
			ELSE NULL
			END AS purchase_price,
		
		CASE
			WHEN io_input = 2 THEN io_price
			ELSE NULL
			END AS sale_price,
		
			io_pname,
			io_quan,
			io_total
		FROM
		tbl_iolist
		ORDER BY io_date DESC;
	</select>
	<select id="sum">
		SELECT 
    		SUM(CASE WHEN io_input = 1 THEN io_price ELSE 0 END) AS total_purchase,
    		SUM(CASE WHEN io_input = 2 THEN io_price ELSE 0 END) AS total_sale
		FROM 
    		tbl_iolist;
	
	</select>
	<select id="findById">
		SELECT 
			io_seq,
			io_pname, 
		    io_date, 
		    io_time, 
		    io_price,
			IF(io_input = 1, '매입','매출') AS io_input,
		    io_quan, 
		    io_total 
		FROM tbl_iolist
		WHERE io_seq =#{seq};
	</select>

</mapper> 