@charset "UTF-8";

header.main {
  padding: 1.3rem;
  text-align: center;
  color: white;
  background-color: #304d30;
}

nav.main {
  background-color: #d1d37a;
  color: black;

  ul {
    list-style: none;
    display: flex;
    gap: 5px;
    padding: 3px 6px;

    li {
      padding: 8px 12px;
      font-weight: 800;
      border-bottom: 1px solid transparent;
      &:hover {
        border-bottom: 1px solid #ddd;
        color: black;
        cursor: pointer;
      }
      &:nth-of-type(5) {
        margin-left: auto;
      }
    }
  }
}

footer.main {
  background-color: #ddd;
  text-align: center;
  padding: 0.8rem;
}

section.container {
  flex: 1;
  height: calc(100%);
  margin: 3px;
  border: 1px solid blue;
  overflow-y: auto;
}
