<!DOCTYPE html>
<html
  lang="ko"
  xmlns:th="http://wwww.thymeleaf.org"
  xmlns:layout="http://ultrag.net.nz/thymeleaf/layout"
  layout:decorate="~{/home}"
>
  <section layout:fragment="content">
    <link
      rel="stylesheet"
      href="../../../static/css/gallery_input.css"
      th:href="@{/static/css/gallery_input.css}"
    />
    <script
      src="../../../static/js/gallery_input.js"
      th:src="@{/static/js/gallery_input.js}"
    ></script>
    <section class="gallery">
      <article class="gallery">
        <form method="post" enctype="multipart/form-data">
          <fieldset>
            <legend>이미지업로드</legend>
            <div>
              <input
                type="text"
                placeholder="제목"
                name="g_subject"
              />
            </div>
            <div>
              <textarea
                placeholder="이미지 설명"
                name="g_content"
                rows="10"
              ></textarea>
            </div>
            <div>
              <input
                type="file"
                class="file"
                name="image_file"
                accept="image/*"
              />
            </div>
            <div><input type="hidden" name="g_image" /></div>
            <div class="image">
              <img
                class="gallery"
                src="../../../static/images/tree.png"
                th:src="@{/static/images/tree.png}"
                width="200px"
              />
            </div>
            <div><input type="submit" value="저장" /></div>
          </fieldset>
        </form>
        <img
          th:src="@{/upload/{image}(image=${GALLERY.g_up_image})}"
        />
      </article>
    </section>
  </section>
</html>
